body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

.wrap {
  max-width: 700px;
  margin: auto;
}

header {
  height: 3rem;
  line-height: 3rem; 
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;

  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}
  nav {
    display: flex;
    justify-content: space-between;
  }
    .nav__links {
      cursor: default;
    }
    .nav__link {
      color: #555;
      text-decoration: none;
      font-size: 1.15rem;
    }
      .nav__link--active {
        color: #1b85d1;
      }
    .nav__links--left {
      margin-left: 1.15rem;
    }
      .nav__links--left .nav__link {
        margin-right: 1.15rem;
      }
    .nav__links--right {
      margin-right: 1.15rem;
    }
      .nav__links--right .nav__link {
        margin-left: 1.15rem;
      }

main {
  min-height: 100rem;
}
  .content {
    margin-top: 5.3rem;
    margin-bottom: 2.3rem;
    margin-left: 1.15rem;
    margin-right: 1.15rem;
  }

footer {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  height: 10rem;
  padding: 1.15rem 1.15rem;
  font-size: 14px;
  color: #777;
}
